<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <header>
        <h1><%= title %></h1>
        <% if (user.is_admin) { %>
        <span>
            <h2><%= user.username %>'s Dashboard (<abbr title="Administrator">Admin</abbr>)</h2>
            <% } else { %>
                <h2><%= user.username %>'s Dashboard</h2>
            <% } %>
            <h3>
                Membership status: <%= user.is_member ? 'Verified Member' : 'Unverified Member' %>
                <% if (user.is_member) { %>
                    <i class="fa-regular fa-square-check fa-lg verified"></i>
                <% } else { %>
                    <i class="fa-solid fa-ban fa-lg unverified"></i>
                <% } %>
            </h3>
        </span>
    </header>
    <div class="newMessageModal">
        <form action="/main/newPost" method="post">
            <ul>
                <li>
                    <label style="color: white" for="message"><i class="fa-regular fa-note-sticky fa-lg"></i>New Message</label>
                    <textarea id="message" name="message" rows="5" cols="33" minlength="1" maxlength="200"></textarea>
                </li>
                <li class="formButtonMenu">
                    <button onclick="playRandomSound()" type="submit">Submit</button>
                    <button type="reset">Clear</button>
                    <button type="button" onclick="toggleNewMessageModal()">Close</button>
                </li>
            </ul>
        </form>
    </div>
    <nav class="menu">
        <button onclick="toggleNewMessageModal()" class="a-button">New Message</button>
        <a href="/">Return Home</a>
        <a href="/logout" role="button">Logout</a>
    </nav>
    <main>
        <h4>Message Board</h4>
        <% if (user.is_member) { %>
            <% if (locals.messages) { %>
                <ul class="messageBoard">
                    <li class="ends sticky"><i class="fa-solid fa-gear fa-lg gearSpin"></i>- Most Recent -</li>
                    <% messages.forEach((message) => { %>
                        <li class="messageCard">
                            <span class="cardHeader"><p><i class="fa-solid fa-user fa-sm"></i>  <%= message.username %></p><p>Added <%= formatDate(new Date(message.added), 'PPp') %></p></span>
                            <p class="cardMain"><%= message.message %></p>
                            <% if ( user.is_admin ) { %>
                                <form class="cardFooter" id="deleteMessageForm" action="/main/deletePost" method="post">
                                    <input type="hidden" name="message_id" value="<%= message.id %>">
                                    <button class="a-button" type="submit" title="Delete">Delete</button>
                                </form>
                            <% } %>
                        </li>
                    <% }) %>
                    <li class="ends">- Fin -</li>
                </ul>
            <% } %>
        <% } else { %>
            <details class="unverified-warning">
                <summary>‼️ Viewing messages as an unverified member ‼️<br>Click to view details...</summary>
                <p>This means the name of the poster is hidden as well as the date. To see these details you'll need to become a verified member.</p>
                <p>To verify your membership please enter the secret passcode.</p>
                <% if (locals.errors) { %>
                    <ul class="errorList">
                        <% errors.forEach((error) => { %>
                            <li>Error: <%= error.msg %></li>
                          <% }) %>
                    </ul>
                <% } %>
                <form id="verifyMembershipForm" action="/main/verifyMember" method="post">
                    <ul>
                        <li>
                            <label for="secret_passcode">Secret Passcode: </label>
                            <input type="password" name="secret_passcode" id="secret_passcode" minlength="1" maxlength="80" required>
                        </li>
                        <li class="formButtonMenu">
                            <button onclick="playRandomSound()" type="submit" form="verifyMembershipForm">Submit</button>
                        </li>
                    </ul>
                </form>
            </details>
            <% if (locals.messages) { %>
                <ul class="messageBoard">
                    <li class="ends sticky"><i class="fa-solid fa-gear fa-lg gearSpin"></i>- Most Recent -</li>
                    <% messages.forEach((message) => { %>
                        <li class="messageCard">
                            <span class="cardHeader"><p><i class="fa-solid fa-user fa-sm"></i>  Unknown</p><p>Added ------------</p></span>
                            <p class="cardMain"><%= message.message %></p>
                        </li>
                    <% }) %>
                    <li class="ends">- Fin -</li>
                </ul>
            <% } %>
        <% } %>
    </main>
    <%- include("../partials/footer") %>
    <script>
        const messageBoard = document.querySelector(".messageBoard")
        const gearSpin = document.querySelector(".gearSpin");
        const body = document.querySelector('body');
        const textarea = document.getElementById('message');

        if (messageBoard && gearSpin) {
            messageBoard.addEventListener("scroll", () => {
            gearSpin.classList.add('spinClockwise');
            setTimeout(() => {
                gearSpin.classList.remove('spinClockwise');
            }, 1000);
        })
        }

        function toggleNewMessageModal() {
            const modal = document.querySelector('.newMessageModal');
            modal.classList.toggle('show');
            body.classList.toggle('no-scroll');
            if (modal.classList.contains('show')) {
                    setTimeout(()=> {
                        textarea.focus();
                    }, 300);
            }
        }

        function playRandomSound() {
            const randNum = Math.floor(Math.random() * 4 + 1);
            const audio = new Audio(`rdf${randNum}.mp3`);
            audio.play();
        }
    </script>
</body>
</html>