<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <header>
        <h1><%= title %></h1>
    </header>
    <main>
        <% if (locals.errors) { %>
            <ul class="errorList">
                <% errors.forEach((error) => { %>
                    <li>Error: <%= error.msg %></li>
                  <% }) %>
            </ul>
        <% } %>
        <form action="/sign-up" method="post">
            <ul>
                <li>
                    <label for="first_name">First name</label>
                    <input type="text" name="first_name" id="first_name" maxlength="80" required pattern="[A-Z][a-z]*" title="First name must start with a capital letter and contain only letters.">
                </li>
                <li>
                    <label for="last_name">Last name</label>
                    <input type="text" name="last_name" id="last_name" maxlength="80" required pattern="[A-Z][a-z]*" title="Last name must start with a capital letter and contain only letters.">
                </li>
                <li>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" maxlength="20" required>
                </li>
                <li>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" maxlength="80" required>
                </li>
                <li>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" minlength="8" maxlength="255" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}" title="Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one digit, and one special character.">
                </li>
                <li>
                    <label for="confirm_password">Confirm <abbr title="password">p/word</abbr></label>
                    <input type="password" name="confirm_password" id="confirm_password" minlength="8" maxlength="255" required>
                </li>
                <li class="formButtonMenu">
                    <button onclick="playRandomSound()" type="submit">Submit</button>
                </li>
                <li>
                    <details class="admin_signup">
                        <summary>Click for Admin sign-up</summary>
                        <label for="admin_passcode">Passcode</label>
                        <input type="password" name="admin_passcode" id="admin_passcode">
                    </details>
                </li>
            </ul>
        </form>
        <a href="/">Return Home</a>
    </main>
    <%- include("../partials/footer") %>
    <%- include("../partials/script") %>
</body>
</html>